.custom-header {
    background-color: #182649; /* نفس لون السايد بار */
    border-bottom: 1px solid #1d3055;
    height: 70px;
}

.custom-header h5 {
    color: #9febea; /* نفس لون النص في السايد بار */
    font-weight: 500;
}

.custom-header .btn-outline-info {
    color: #9febea;
    border-color: #9febea;
}

.custom-header .btn-outline-info:hover {
    background-color: #9febea;
    color: #182649;
}
